[Unit]
Description = Todo Service
[Service]
Environment=REDIS_HOST=172.31.52.104
ExecStart=/bin/node /root/scripting/Todo/todo/server.js
SyslogIdentifier=todo

[Install]
WantedBy=multi-user.target
